@import url("https://unpkg.com/@tailwindcss/typography@0.2.x/dist/typography.min.css");
@import url("https://unpkg.com/tailwindcss/dist/tailwind.min.css");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");
@import url("https://afeld.github.io/emoji-css/emoji.css");
@import url("https://unpkg.com/popper.js@1/dist/umd/popper.min.js");
@import url("https://unpkg.com/tippy.js@4");

.cursive {
  font-family: "Amatic SC", cursive;
  font-weight: 700;
}

.prose img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.home-name {
  font-size: 150px;
}

.img_now {
  background-image: url("https://source.unsplash.com/MP0IUfwrn0A");
}
